VITE_API_URL=http://localhost:8082
VITE_VWFD_URL=http://localhost:8083
VITE_TTS_URL=

VITE_HELP_URL=mailto:support@toeflquiz.app
VITE_PRIVACY_URL=https://toeflquiz.app/privacy
VITE_TERMS_URL=https://toeflquiz.app/terms
